<div class="sidebar">
    <div class="sidebar-header">
        <img src="assets/img/logos/logo_nextblu.png">
        <a class="sidebar-close" href="javascript:void(0);"><i data-feather="x"></i></a>
    </div>
    <div class="inner">
        <ul class="sidebar-menu">
            <li><span class="nav-section-title"></span></li>
            <li class="have-children"><a href="#">
                <span class="material-icons">apps</span>
                <span>Quick-actions</span>
            </a>
                <ul>
                    <li><a href="https://me.nextblu.com">Login</a></li>
                    <li><a href="https://cloud.nextblu.com">Cloud</a></li>
                    <li><a href="https://tentacle.nextblu.com">Tentacle dashboard</a></li>
                </ul>
            </li>

            <li class="have-children">
                <a href="#">
                    <span class="material-icons">policy</span>
                    <span>Settings</span>
                </a>
                <ul>
                    <li><a href="#">User settings</a></li>
                    <li><a href="#">App settings</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>